@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Work+Sans&display=swap');

body {
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

div.logoimage {
 border-color: red;


}
div.logo{
margin-left: 40px;

}

div.subtitle {
  font-family: 'Oxygen';
  color: white;
  font-size: 20px;
  left: 183px;
  border: solid;
  border-color: green;
}

div.menu {
  font-family: 'Helvetica';
  color: DarkSlateGray;
  width: 300px;
  height: 150px;

  float: right;
  margin-top: 120px;
}

div.index-description {
  font-family: 'Oxygen';
  color: white;
  background-color: red;
  width: 400px;
  font-size: 20px;
  border: solid;
  border-color: pink;
}

div.stu-container {
  width: 1050px;
  border: solid;
  border-color: orange;

}

div.student {
	  vertical-align: top;
	  display: inline-block;
	  /*left: auto; added this*/
	  margin: 5px;
    margin-top: 65px;
	  width: 220px;
    height: auto;
	  text-align: center;
	  font-family: 'Helvetica';
	  font-size: 14px;
    background-color: White;
    color: White;
    border-radius: 25px;
    border: 2px solid SlateGray;
    padding: 20px;

}

div.about {
  float:right;
  left: 193px;
  font-family: 'Helvetica';
  color: DarkSlateGray;
  width: 272px;
  font-size: 15px;

}
div.mail{

    margin-left: 40px;
    font-family: 'Helvetica';
    color: DarkSlateGray;

}

div.examples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: 510px;
  height: auto;
  background-color: WhiteSmoke;
  color: WhiteSmoke;
  padding: 10px;
}

body {
  background-color: WhiteSmoke;
}

mark.one {
  color: white;
  background-color: white;
}

mark.two {
  color: white;
  font-size: 16px;
  background-color: DarkSeaGreen;
}

mark.three {
  color: white;
  background-color: WhiteSmoke;

}

mark.current {
  color: white;
  background-color: DarkCyan;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;


}

li {
  display: inline;

}


a:link {
  text-decoration: none;
  color: DarkSlateGray;
}

a:link.two {
  text-decoration: none;
  color: DarkSlateGray;
}

a:visited {
  text-decoration: none;
	color: DarkSlateGray;
}

a:active {
  color: SlateGray;
}
a:hover {
  color: DarkSeaGreen;
}
div.image{

  float: left;
  margin-left: 40px;


}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 24px;
  color: DarkSlateGray;
}
.active, .btn:hover {
  background-color: #666;
  color: white;
}

img {
  object-fit: cover;
}

img.one {
  width: 220px;
  height: 220px;

}

img.two {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

img.three {
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 0px;
  border: solid 1px;
  border-color: purple;
}





/* Start of Megans Styling */
div.Mtext {
  margin: 10px;
  font-family: 'Helvetica';
  color: white;
  width: 600px;
}

div.meganexamples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: auto;
  height: auto;
  background-color: white;
  color: white;
  padding: 10px;
}

img.megan1 {
  width: 150px;
  height: 150px;


}

img.megan2 {
  width: 750px;
  height: 500px;
background-color: White;
  padding: 10px;
  margin: 5px;
   border: solid 2px;
  border-color: DarkCyan;
  float: left;
}






/* responsive styling for mobile browsing */

/* when screen is 600px or less apply changes */
@media only screen and (max-width: 600px) {

  /* remove .gif background set background color to purple */
  body {
    background-image: none !important;
    background-color: LightSteelBlue !important;
  }

}





